html {
  font-size: 14px;
}

body {
  font-size: 1rem;
}

header {
  padding: 0 20px;
  height: 100%;
  /* position: sticky; */
  /* top:0; */
  /* background-color: #fff; */
  z-index: 999;
  /* box-shadow: 0 2px linear-gradiant(to top bottom black, white); */
  transition: all .5s ease-in-out;
}

header.sticky {
  position: sticky;
  top:0;
  background-color: #fff;
}

header .headerBox {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .headerBox h1 {
  padding-left: 20px;
}

header .headerBox h1 a img {
  width: auto;
}

header .headerBox #menu #menuBox {
  display: flex;
  height: 100%;
  padding-right: 50px;
}

header .headerBox #menu #menuBox li {
  display: flex;
  align-items: center;
}

header .headerBox #menu #menuBox li:not(:last-child) {
  transition: all .4s ease-in-out;
  opacity: 0;
  transform: translateX(-50%);
}

header .headerBox #menu #menuBox li div {
  cursor: pointer;
}

header .headerBox #menu #menuBox li a {
  padding: 18px 30px;
}

header .headerBox #menu #menuBox li:last-child .hamBtn{
  width: 30px;
  height: 25px;
  margin-left: 50px;
  position: relative;
}

header .headerBox #menu #menuBox li:last-child .hamBtn:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 30%;
  transform: translate(0, -50%);
  background-color: #000;
  transition: all .3s ease-in-out;
}

header .headerBox #menu #menuBox li:last-child .hamBtn:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 70%;
  transform: translate(0, -50%);
  background-color: #000;
  transition: all .3s ease-in-out;
}

header .headerBox #menu #menuBox.show li:not(:last-child) {
  opacity: 1;
  transform: translateX(0%);
}

.show li .hamBtn:after {
  top: 50% !important;
  transform: rotate(-45deg) !important;
  /* transform-origin: bottom left; */
}

.show li .hamBtn:before {
  top: 50% !important;
  transform: rotate(225deg) !important;
}

header .headerBox .mobileHamBtn {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 32px;
  height: 24px;
}

header .headerBox .mobileHamBtn div {
  width: 100%;
  height: 3px;
  background-color: #000;
}

header .headerBox .mobileHamBtn:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #000;
}

header .headerBox .mobileHamBtn:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

#mobileBox {
  display: none;
  position: absolute;
  top: 62px;
  width: 100%;
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

#mobileBox li {
  font-size: 1.2rem;
  margin: 0 20px;
  padding: 0 20px;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

#mobileBox.show {
  max-height: 500px;
}

#mobileBox.show li {
  padding: 10px 20px;
}


/* visual */
#visual {
  height: 890px;
  position: relative;
}
.visualImg {
  transition: opacity .4s ease-in-out;
  z-index: -1;
}
.visualImg.img1{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/hero/h1_hero1.png) no-repeat;
  background-size: cover;
}

.visualImg.img2{
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.15) 25%,
    rgba(20, 20, 20, 0.3) 50%,
    rgba(20, 20, 20, 0.45) 75%,
    rgba(20, 20, 20, 0.5) 100%
  ), url(../img/hero/h1_hero2.png) no-repeat;
  background-size: cover;
}

.visualImg.img3{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.15) 25%,
    rgba(20, 20, 20, 0.3) 50%,
    rgba(20, 20, 20, 0.45) 75%,
    rgba(20, 20, 20, 0.5) 100%
  ), url(../img/hero/h1_hero3.png) no-repeat;
  background-size: cover;
}

#visual .visualBox {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

#visual .textContainer {
  display: flex;
  position: absolute;
  top: 30%;
}

#visual .visualTitle h2 {
  font-size: 10rem;
  color: #fff;
}

#visual .visualTitle img {
  float: right;
  width: 16rem;
}

#visual .visualBox .visualText {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30rem;
  color: #fff;
}

#visual .visualBox .visualText h3 {
  font-size: 2.5rem;
  margin-bottom: 1.3rem;
}

#visual .visualBox .visualText h3 span {
  transition: all .2s ease;
}

#visual .visualBox .visualText em{
  font-style: normal;
  text-decoration: underline;
}

#visual .visualBox .visualText p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 6.5rem;
}

#visual .visualBox .visualSlide {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 414px;
  height: 61px;
  overflow: hidden;
}

#visual .visualBox .visualSlide .slideWrap {
  position: absolute;
  left: -426px;
  display: flex;
}

#visual .visualBox .visualSlide .slideWrap.animation {
  transition: all .3s ease;
}

#visual .visualBox .visualSlide ul li {
  width: 130px;
  margin-right: 12px;
}

/* gallery */
#gallery {
  width: 1200px;
  padding: 10rem 0;
  margin: 0 auto;
}

#gallery .galleryText {
  display: flex;
  height: 200px;
  /* margin: 2rem; */
}

#gallery .galleryText div:first-child{
  width: 50%;
  font-size: 4rem;
  padding: 0 15px;
  line-height: 4.5rem;
}

#gallery .galleryText div:last-child {
  width: 50%;
  font-size: 1.3rem;
  padding: 0 15px;
}

#gallery .galleryImg ul {
  display: flex;
  flex-wrap: wrap;
}

#gallery .galleryImg ul li  {
  position: relative;
  margin: 15px;
  overflow-X: hidden;
  text-align: center; 
  /* height: 565px; */
  /* width: 100%; */
}

#gallery .galleryImg ul li:last-child {
  width: 100%;
  height: auto;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .galleryImg ul li:last-child a {
  padding: 12px 35px;
  font-size: 1.3rem;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0, .8) 50%);
  background-position: 0 0;
  background-size: auto 200%;
  border: 1px solid #dbdbdb;
  transition: all .2s linear;
}

#gallery .galleryImg ul li:last-child a:hover {
  color: #fff;
  background-position: 0 -100%;
}


#gallery .galleryImg ul li:nth-child(1){
  background: url(../img/gallery/gallery1.png) no-repeat center;
  background-size: cover;
  height: 535px;
  width: 470px;
}

#gallery .galleryImg ul li:nth-child(2) {
  background: url(../img/gallery/gallery2.png) no-repeat center;
  background-size: cover;
  height: 535px;
  width: 670px;
}

#gallery .galleryImg ul li:nth-child(3) {
  background: url(../img/gallery/gallery3.png) no-repeat center;
  background-size: cover;
  height: 535px;
  width: 570px;
}

#gallery .galleryImg ul li:nth-child(4) {
  background: url(../img/gallery/gallery4.png) no-repeat center;
  background-size: cover;
  height: 535px;
  width: 570px;
}

#gallery .galleryImg ul li span {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  font-size: 2.2rem;
  color: #fff;
}

/* 소개 */
#introduction {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  height: 700px;
}

#introduction .img {
  width: 50%;
  height: 100%;
  background: url(../img/gallery/startup_bg.png) no-repeat;
  background-size: cover;
}

#introduction .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding-left: 12%;
  color: #fff;
  background-color: #000;
  /* z-index: -1; */
}

#introduction .text h3 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

#introduction .text p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

#introduction .text a {
  font-size: 1.5rem;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 35px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
  background-size: auto 200%;
  background-position: 0 0;
  transition: all .3s ease-in;
}

#introduction .text a:hover {
  background-position: 0 -100%;
  color: #000;
}

/* skills */
#service ul {
  width: 1200px;
  padding: 10rem 0 11rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#service ul li:first-child {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

#service ul li:first-child h3 {
  font-size: 4rem;
  margin-bottom: .8rem;
}

#service ul li:first-child p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
}

#service ul li:not(:first-child) {
  width: 25%;
  padding: 0 15px;
  text-align: center;
  box-sizing: border-box;
}

#service ul li:not(:first-child) img {
  width: auto;
  margin-bottom: 24px;
}

#service ul li:not(:first-child) p {
  font-size: 1.52rem;
  margin-bottom: 3rem;
}

/* blog */
#blog {
  padding: 10rem 0;
  background: url(../img/gallery/section_bg03.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#blog .blogBox {
  width: 900px;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
}

#blog .blogBox .blogText {
  color: #fff;
  padding: 80px 20px 0 90px;
  background: url(../img/icon/quotes-sign.png) no-repeat;
}

#blog .blogBox .blogText > p {
  font-size: 1.4rem;
  margin-bottom: 50px;
}


#blog .blogBox .blogText .consoleArea {
  display: flex;
  width: 80%;
}

#blog .blogBox .blogText .consoleArea .profile {
  display: flex;
  align-items: center;
}

#blog .blogBox .blogText .consoleArea .profile img {
  width: auto;
  margin-right: 30px;
}

#blog .blogBox .blogText .consoleArea .profile span {
  font-size: 1.7rem;
}

#blog .blogBox .blogText .consoleArea .profile span p {
  font-size: 1rem !important;
}

/* subscribe */
#subscribe {
  padding: 12rem 0;
}

#subscribe .subscribeTit {
  width: 990px;
  text-align: center;
  margin: 0 auto 3rem;
  /* padding: 0 25% 4rem; */
}

#subscribe .subscribeTit h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#subscribe .subscribeTit p {
  font-size: 1.2rem;
}

#subscribe .priceBox {
  display: flex;
  justify-content: center;
}

#subscribe .priceBox > li {
  width: 370px;
  padding: 0 15px;
}

#subscribe .priceBox li div {
  text-align: center;
  padding: 30px 0;
  border: 1px solid #dbdbdb;
}

#subscribe .priceBox li .top {
  border-bottom: none;
  position: relative;
  overflow: hidden;
}


#subscribe .priceBox li .top img {
  margin: 30px 0;
  width: auto;
}

#subscribe .priceBox li .top li {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 3rem;
}

#subscribe .priceBox li .top li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(0,0,0, .5)
}

#subscribe .priceBox li .bottom {
  padding: 20px 0;
  font-size: 1.2rem;
  line-height: 3.5rem;
  color: rgba(0,0,0, .5)
}
#subscribe .priceBox li .bottom ul {
  margin-bottom: 3rem;
}

#subscribe .priceBox li .bottom a {
  border: 1px solid #dbdbdb;
  padding: 1.2rem 30%;
  background-image: linear-gradient(to bottom, rgba( 255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 50%);
  background-size: auto 200%;
  transition: all .2s ease-in-out;
}

#subscribe .priceBox li .bottom a:hover {
  background-position: 0 -100%;
  color: #fff;
}

#subscribe .priceBox li:nth-child(2) .top > div {
  position: absolute;
  top: 15%;
  left: -30%;
  font-size: 1.4rem;
  text-align: center;line-height: 3rem;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0;
  background-color: #3b2d82;
  transform: rotate(-45deg);
}

/* instagram */
#instagram {
  
}

#instagram ul {
  display: flex;
}

#instagram ul li {
  width: 20%;
  position: relative;
}

#instagram ul li img {
  height: 100%;
  transition: all .3s ease;
}

#instagram ul li:hover img {
  filter: brightness(50%);
}

#instagram ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff; */
}

#instagram ul li i {
  opacity: 0;
  transform: translateY(-60%);
  transition: all .3s ease;
}

#instagram ul li:hover i {
  opacity: 1;
  transform: translate(0, 0);
}

/* footer */

#footer {
  padding: 8rem 0  0;
  background-color: #071212;
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

#footer .footerLogo img {
  width: auto;
}


#footer .footerMenu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

#footer .footerMenu ul li{
  height: 100%;
  margin: 0 1rem;
}

#footer .footerMenu ul li a {
  padding: 25px 20px;
  font-size: 1.2rem;
  line-height: 8rem;
  color: rgba(255, 255, 255, .6);
  transition: all .3s ease;
}

#footer .footerMenu ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

#footer .sns {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 6rem;
}

#footer .sns li {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
}

#footer .sns li i {
  transform-style: preserve-3d;
  transition: all .8s;
}

#footer .sns li:hover {
  color: #071212;
  background-color: #fff;
}

#footer .sns li:hover i {
  transform: rotateY(180deg);
}

#footer p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, .3);
  padding-bottom: 4rem;
}

#footer p span {
  color: #fff;
}